h1 {
    box-align: center;
    text-align: center;
    /* center title */
    padding: 8px 16px;
    background-color: #9adcf0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: black;
    height: 75px;
    width: auto;
    border: 2px solid black;
    margin: 24px 8px;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}



h2 {
    background-color: lightgrey;
    font-size: 24px;
    color: black;
    height: 50px;
    width: auto;
    text-align: center;
    border: 1px solid black;
    padding: 8px;


}


